<footer class="footer">
  <div class="container footer-container">
    <!-- <p>This is a footer!</p> -->

    <div class="footer-info">
      <div class="footer-logo-p">
        <div class="footer-logo">
          <a href="" class="footer-logo-link">
            <svg class="footer-logo-item" width="16" height="16">
              <use href="../img/icons.svg#logo-icon-vector"></use>
            </svg>
          </a>
          <a href="" class="footer-logo-green">GREEN.HARVEST</a>
        </div>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-nav">
        <ul>
          <li>
            <a class="footer-nav-link" href="fresh-harvest.html"
              >how it works</a
            >
          </li>
          <li>
            <a class="footer-nav-link" href="vegetables.html">vegetables</a>
          </li>
          <li><a class="footer-nav-link" href="reviews.html">reviews</a></li>
        </ul>
        <address class="footer-adress">
          <ul class="footer-adress-list">
            <li>
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li>1678 S. Pioneer Road Salt Lake City UT 84104</li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer-privacy">
      <div class="footer-privacy-text">
        <p>Privacy Policy</p>
        <p>/</p>
        <p>Cookie settings</p>
      </div>
      <p>©Green Harvest 2023</p>
    </div>
  </div>
</footer>
