<header class="header">
  <div class="container">
    <div class="header-logo">
      <a href="../index.html" class="header-logo-link">
      <svg class="header-icon-logo" width="16" height="16">
        <use href="../img/icons.svg#footer-icon-vector"></use>
      </svg>GREEN.HARVEST
    </a>
  </div>
   
      <button type="button" class="button-vector">
        <svg class="vector" width="26" height="20">
          <use href="../img/icons.svg#icon-header-menu-mob"></use>
        </svg>
      </button>
  </div>
  <!-- Mobile Menu -->
     <div class="mob-menu">
    <div class="mob">
      <button class="menu-close-btn">
<svg class="icon-menu-close-btn">
  <use href="../img/icons.svg#icon-close-icon-mobile"></use>
</svg>
      </button>
      <nav class="mob-menu-navigation">
        <ul class="mob-menu-list">
          <li class="mob-menu-item"><a href="../index.html" class="mob-menu-link"><span class="how-it-works">How It Works</span></a></li>
          <li class="mob-menu-item"><a href="../index.html" class="mob-menu-link">Vegetables</a></li>
          <li class="mob-menu-item"><a href="../index.html" class="mob-menu-link">Reviews</a></li>
        </ul>
      </nav>
    </div>

<button class="button-shop" type="button">Shop now</button>
   </div>
</header>
