<header class="header">
  <div class="container">
    <svg class="header-icon-logo" width="16" height="16">
      <use href="./icons.svg#icon-header-menu-mob" class=""></use>
    </svg>
    <a href="../index.html" class="logo-text">GREEN.HARVEST</a>
    <svg>
      <use></use>
    </svg>
  </div>
   <div class="mob-menu">
    <div>
      <button class="menu-close-btn">
<svg class="icon-menu-close-btn">
  <use href="../img/icons.svg#icon-close-icon-mobile"></use>
</svg>
      </button>

    </div>

   </div>
</header>
