<header class="header">
  <div class="container">
    <svg class="header-icon-logo" width="16" height="16">
      <use href="./icons.svg#icon-header-menu-mob" class=""></use>
    </svg>
    <a href="../index.html" class="logo-text">GREEN.HARVEST</a>
    <svg>
      <use></use>
    </svg>
  </div>
  <!-- Mobile Menu -->
     <div class="mob-menu">
    <div>
      <button class="menu-close-btn">
<svg class="icon-menu-close-btn">
  <use href="../img/icons.svg#icon-close-icon-mobile"></use>
</svg>
      </button>
      <nav class="mob-menu-navigation">
        <ul class="mob-menu-list">
          <li class="mob-menu-item"><a href="" class="mob-menu-link"><span class="how-it-works">How It Works</span></a></li>
          <li class="mob-menu-item"><a href="" class="mob-menu-link">Vegetables</a></li>
          <li class="mob-menu-item"><a href="" class="mob-menu-link">Reviews</a></li>
        </ul>
      </nav>
<button type="">

</button>
    </div>

   </div>
</header>
