<section class="order">
  <div class="container order-container">
    <h2 class="visually-hidden">Order</h2>

    <div class="section-pictures">

      <img class="picture-woman" src="./img/order/woman-fruit-desktop-1x.jpg">
    
    </div>

    <div class="section-instructions">

      <h2 class="headline">To order your <span class="headline-title">vegetable</span> basket, simply follow these <span class="headline-title">easy steps</span>
      </h2>
      <p class="headline-about">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
      without ever leaving your home.</p>

      <ol class="list-steps">
        <li class="list-text">
          <span class="figures-number">
            <span class="point">1</span>
          </span>
          <p class="text">Just choose <span class="step-text">the vegetable</span> you want to order by clicking on the checkboxes <span class="step-text">next to it</span>.
          </p>
        </li>

        <li class="list-text">
          <span class="figures-number">
            <span class="point">2</span>
          </span>
          <p class="text">Click on <span class="step-text">the basket</span> and fill out the form.</p>
        </li>

        <li class="list-text">
          <span class="figures-number">
            <span class="point">3</span>
          </span>
          <p class="text">Sit back and relax! Your <span class="step-text">fresh
              vegetables</span> basket will be delivered.</p>
        </li>

    </div>
  </div>
  </ol>

</section>


<!-- <section class="order">
  <div class="container order-container">
    <p>This is Order your vegetable section</p>
  </div>
</section> -->
