<section class="order">
  <div class="container order_container">
    <div class="container_image">
      <img class="image" src="../img/order/order-mob-2x.png">
  </div>
  <div class="main_content">
  <div class="container_title_order">
      <h2 class="title_order">To order your <span class="title_words_order">vegetable</span> basket, simply follow these <span class="title_words_order">easy steps</span> </h2>
      <p class="main_text_order">Our baskets are assembled with care and delivered straight to your doorstep,
       so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
      </div>
<div class="container_list">
  <ol class="main_list">
      <div class="container_item">
          <li class="list_item">
            <p class="text_item">Just choose <span class="words_item">the vegetable </span> you want to order by clicking on the checkboxes <span class="words_item">next to it.</span></p>
          </li>
      </div>
      <div class="container_item">
          <li class="list_item" >
            <p class="text_item" >Click on <span class="words_item" >the basket</span> and fill out the form.</p>
          </li>
      </div>
      <div class="container_item">
          <li class="list_item">
            <p class="text_item" >Sit back and relax! Your <span class="words_item"> fresh vegetables</span> basket will be delivered.</p>
          </li>
      </div>
  </ol>
</div>
</div>
  </div>
</section>