<section class="order">
  <div class="container order-container">
    <h2 class="visually-hidden">How it works</h2>

    <div class="section-pictures">
      <picture>
        <source media="(min-width: 1280px)"
          srcset="./img/order/wom-d-1x.png    1x, ./img/order/wom-d-2x.png 2x" />
        <source media="(min-width: 768px)"
          srcset="./img/order/woman-tab-1x.png 1x, ./img/order/woman-tab-2x.png 2x" />
        <source media="(max-width: 767px)"
          srcset="./img/order/woman-mob-1x.png 1x, ./img/order/woman-mob-2x.png 2x" />
        <img class="picture-woman" src="./img/order/woman-desk-1x.png" alt="woman cutting fruit" />
      </picture>

      <!-- <picture>
        <source media="(min-width: 1280px)"
          srcset="./img/order/woman-fruit-desktop-1x.jpg    1x, ./img/order/woman-fruit-desktop-2x.jpg 2x" />
        <source media="(min-width: 768px)"
          srcset="./img/order/woman-fruit-tab-1x.jpg 1x, ./img/order/woman-fruit-tab-2x.jpg 2x" />
        <source media="(max-width: 767px)"
          srcset="./img/order/woman-fruit-mob-1x.jpg 1x, ./img/order/woman-fruit-mob-2x.jpg 2x" />
        <img class="picture-woman" src="./img/order/woman-fruit-desktop-1x.jpg" alt="woman cutting fruit" />
      </picture> -->
    </div>

    <div class="section-instructions">

      <h2 class="order-headline">To order your <span class="order-headline-title">vegetable</span> basket, simply follow
        these
        <span class="order-headline-title">easy steps</span>
      </h2>
      <p class="order-headline-text">Our baskets are assembled with care and delivered straight to your doorstep, so you
      can enjoy the taste of fresh fruit
      without ever leaving your home.</p>

      <ol class="list-steps">
        <li class="list-text">
          <!-- <span class="figures-number">
            <span class="point">1</span>
          </span> -->
          <p class="order-text">Just choose <span class="order-step-text">the vegetable</span> you want to order by
            clicking on the checkboxes <span class="order-step-text">next to it</span>.
          </p>
        </li>

        <li class="list-text">
          <!-- <span class="figures-number">
            <span class="point">2</span>
          </span> -->
          <p class="order-text">Click on <span class="order-step-text">the basket</span> and fill out the form.</p>
        </li>

        <li class="list-text">
          <!-- <span class="figures-number">
            <span class="point">3</span>
          </span> -->
          <p class="order-text">Sit back and relax! Your <span class="order-step-text">fresh vegetables</span>
            basket will be delivered.</p>
        </li>
      </ol>
    </div>
  </div>
</section>


<!-- <section class="order">
  <div class="container order-container">
    <p>This is Order your vegetable section</p>
  </div>
</section> -->