<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic <span class="title-word">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-name">eggplant</h3>
        <p class="vegetables-price">60 UAH / kg</p>

        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic1mob1x.png 1x,
            ./img/vegetables/pik1mob2x.png 2x
          "
          src="./img/vegetables/pic1mob1x.png"
          alt="eggplant"
        />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">leek</h3>
        <p class="vegetables-price">50 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic2mob1x.png 1x,
            ./img/vegetables/pic2mob2x.png 2x
          "
          src="./img/vegetables/pic2mob1x.png"
          alt="leek"
        />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">mushrooms</h3>
        <p class="vegetables-price">40 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic3mob1x.png 1x,
            ./img/vegetables/pic3mob2x.png 2x
          "
          src="./img/vegetables/pic3mob1x.png"
          alt="mushrooms"
        />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">corn</h3>
        <p class="vegetables-price">60 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic4mob1x.png 1x,
            ./img/vegetables/pic4mob2x.png 2x
          "
          src="./img/vegetables/pic4mob1x.png"
          alt="corn"
        />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">sweet potatoes</h3>
        <p class="vegetables-price">50 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic5mob1x.png 1x,
            ./img/vegetables/pic5mob2x.png 2x
          "
          src="./img/vegetables/pic5mob1x.png"
          alt="sweet potatoes"
        />
      </li>

      <li class="vegetables-item">
        <h3 class="vegetables-name">carrot</h3>
        <p class="vegetables-price">40 UAH / kg</p>
        <img
          class="vegetables-picture"
          srcset="
            ./img/vegetables/pic6mob1x.png 1x,
            ./img/vegetables/pic6mob2x.png 2x
          "
          src="./img/vegetables/pic6mob1x.png"
          alt="carrot"
        />
      </li>
    </ul>
  </div>
</section>
