<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-name"></h3>
        <p class="vegetables-price"></p>
        <img
          class="vegetables-picture"
          srcset=""
          src=""
          alt=""
          width=""
          height=""
        />
      </li>
    </ul>
  </div>
</section>
