/*====================MOBILE========================== */

.discount-section {
  padding: 80px 10px 80px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.massage {
  color: #141414;
  text-align: left;
  line-height: 1.04167;
  font-size: 48px;
}

.highlight {
  display: inline-block;
  background-color: #576f35;
  color: #fbfbfb;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
}

/* =======================TABLET============================= */

@media only screen and (min-width: 768x) {
  .discount-section {
    padding: 30px;
  }
  .massage {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
}

/*=======================DESKTOP=======================  */
@media only screen and (min-width: 1280px) {
  .discount-section {
    padding: 40px;
  }

  .massage {
    display: block;
    color: rgb(0, 0, 0);
    line-height: 1.4167;
    font-size: 76px;
  }
  .massage br {
    display: none;
  }

  .highlight {
    display: inline;
    padding: 10px 20px;
  }
}
