/* ========== FOOTER ========== */
.footer {
  background-color: #7a3145;
  padding: 40px 0;
}

.footer-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-logo {
  cursor: pointer;
}

.footer-logo-list {
  display: flex;
  gap: 4px;
}

.footer-icon-item {
  fill: #fbfbfb;
  vertical-align: middle;
}

.footer-icon-p {
  color: #fbfbfb;
  font-weight: 500;
  vertical-align: middle;
}

.footer-logo-text {
  color: #fbfbfb;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28em;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: #fbfbfb;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  color: #fbfbfb;

  font-family: 'Inter Tight';
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.015em;
}

.footer-adress {
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  color: #fbfbfb;
}
.footer-adress-list {
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer-privacy {
  display: flex;
  align-items: center;
  color: rgba(251, 251, 251, 0.5);
  font-family: 'Inter Tight';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.015em;
}

.footer-privacy-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-privacy-text {
  line-height: 1.33;
}

.footer-privacy-p {
  line-height: 1.17;
}
