/* ========== FOOTER ========== */
.footer {
  background-color: #7a3145;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-logo {
  cursor: pointer;
}

.footer-icon-item {
  fill: #fbfbfb;
}

.footer-icon-p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fbfbfb;
  font-weight: 500;
}

.footer-logo-text {
  color: #fbfbfb;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28em;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: #fbfbfb;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  display: block;
  color: #fbfbfb;
  font-family: 'Inter Tight';
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover {
  transform: scale(1.1);
}

.footer-adress {
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  color: #fbfbfb;
  gap: 14px;
}

.footer-adress-list {
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 0.015em;
}

.footer-privacy {
  display: flex;
  align-items: center;
  color: rgba(251, 251, 251, 0.5);
  font-family: 'Inter Tight';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.015em;
  justify-content: space-between;
  width: 100%;
}

.footer-privacy-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-privacy-text {
  line-height: 1.33;
}

.footer-privacy-p {
  line-height: 1.17;
}

/* ========== TABLET ========== */

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }

  .footer-container {
    gap: 100px;
  }

  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    gap: 224px;
  }

  .footer-logo-p {
    gap: 25px;
  }

  .footer-icon-item {
    width: 18px;
    height: 18px;
  }

  .footer-icon-p {
    font-weight: 900;
  }

  .footer-logo-text {
    font-size: 16px;
    line-height: 1.25em;
    max-width: 265px;
  }

  .footer-nav {
    gap: 64px;
  }

  .footer-nav-list {
    gap: 25px;
  }

  .footer-nav-link {
    font-size: 32px;
  }

  .footer-adress-list {
    font-size: 18px;
    line-height: 1.11;
    gap: 25px;
  }

  .footer-privacy {
    font-size: 18px;
  }
}

/* ========== DESKTOP ========== */

@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }

  .footer-info {
    gap: 302px;
  }

  .footer-logo-p {
    width: 265px;
  }

  .footer-container {
    gap: 125px;
  }

  .footer-nav {
    flex-direction: row;
    gap: 121px;
  }

  .footer-adress-list {
    letter-spacing: 0.015em;
  }
}
