.fresh-harvest{
  background-color: #7A3145;
  padding: 80px 0px;
  width: 100%;
  }
  .container_main{
    flex-direction: column;
     align-items:center;
  }

.container_title_fresh{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: start;
}
.title_fresh{
  color: #FBFBFB;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.title_words_fresh{
  color: rgba(251, 251, 251, 0.30);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.main_text_fresh{
color: #FBFBFB;
font-size: 14px;
font-weight: 500;
line-height: 18px;
margin-top: 30px;
}
.container_form{
 border-radius: 30px;
 background: #FBFBFB;
 padding: 40px 20px;
 margin-top: 40px;
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.container_form:focus,
.container_form:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.title_form{
color: #141414;
font-size: 24px;
font-weight: 600;
line-height: 1.05; 
letter-spacing: -0.015em;
text-transform: uppercase;

}
.form_title_words{
color: #7A3145;
font-size: 24px;
font-weight: 600;
line-height: 1.05;
letter-spacing: -0.015em;
text-transform: uppercase;
}
.form_words{
color: #576F35;
font-size: 24px;
font-weight: 600;
line-height: 1.05;
letter-spacing: -0.015em;
text-transform: uppercase;

}
.feedback_form{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 295px;
  
  }
.container_label{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  }
.input_container{
  display: flex;
  flex-direction: column;
  max-width: 295px;
  
  
}
.input_label{
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.20);
  height: 46px;
  outline: none;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.input_label:focus,
.input_label:hover{

    border-color: #576F35;
}
.input_label:not(:placeholder-shown):invalid {
  border-color: red;
}
.input_label:not(:placeholder-shown):valid {
  border-color: green;
}
.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}
.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}
.input_label:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}
.input_label:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.input_label::placeholder,
.container_comment::placeholder{
color: #141414;
text-align: start;
font-size: 14px;
font-weight: 500;
line-height: 1.3; 
letter-spacing: -0.02em;




}
.container_textarea{
  display: flex;
  flex-direction: column;
  max-width: 295px;
 
  
  
  
}
.container_comment{
 height: 92px;
 border-radius: 15px;
 border: 1px solid rgba(20, 20, 20, 0.20);
 outline: none;
 padding-top: 14px;
 padding-left: 16px;
 resize: none;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.container_comment:focus,
.container_comment:hover{
  border-color: #576F35;
  
}
.button_form{
  margin-top: 20px;
  max-width: 295px;
  padding:16px 0px ;
  border-radius: 30px;
  background-color: #576F35;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3; 
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border:none ;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .button_form:hover,
  .button_form:focus{
    background-color: #38550f ;
   
    
  }
  .container_image_fresh{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #576F35;
    border-radius: 30px;
    row-gap: 20px;
    padding: 40px 20px;
    object-fit:cover;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.container_image_fresh:focus,
.container_image_fresh:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container_social{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.social_text{
color: rgba(251, 251, 251, 0.50);
font-size: 14px;
font-weight: 600;
line-height: 1.3; 
letter-spacing: -0.015em;
}
.social_list{
  margin-top: 14px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px;
  flex-wrap: wrap;
  
  
}
.social_link{
color: #FBFBFB;
font-size: 24px;
font-weight: 600;
line-height: 1.1; 
letter-spacing: -0.015em;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.social_icon{
  display: flex;
}
.social_icon:hover,
.social_icon:focus{
  transform: scale(1.1);
}
.social_icon{
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.slash{
  margin-left: 6px;
 
}

@media screen and (min-width: 768px) {
 
  .fresh-harvest{
    padding: 100px 0px;
  }
  .container_content{
    padding: 0px 38px;
  }
  .title_fresh{
  min-width: 640px;
}
.title_fresh,
.title_words_fresh{
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.96px;

}
.main_text_fresh{
  font-size: 16px;
  line-height: 1.25; 
  margin-top: 25px;
  width: 640px;
}
.container_form{
  padding: 50px 100px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.feedback_form{
  max-width: 428px;
}
.container_label{
  margin-top: 50px;
  
}
.input_container{
  max-width: 428px;
 
  }
  .input_label::placeholder,
.container_comment::placeholder{
  font-size: 16px;
  line-height: 1.25; 
  letter-spacing: -0.02em;
}
.input_label::placeholder{
  padding-top: 16px;
  padding-bottom: 16px;
}
.container_textarea{
  max-width: 428px;
}
.container_comment{
  padding-top: 16px;
}
.button_form{
  margin-top: 25px;
  max-width: 428px;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.015em;

}
.container_image_fresh{
  margin-top: 25px;
  padding: 50px 50px 50px 50px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
}
.container_social{
width: 100%;
}
.social_text{
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.015em;
}
.social_list{
  margin-top: 15px;
  width: 492px;
  gap: 12px;
  flex-wrap: nowrap;
}
.social_link{
  font-size: 32px;
  line-height: 1; 
  letter-spacing: -0.015em;
}

}

@media screen and (min-width: 1280px) {
  .title_fresh{
    max-width: 751px;
   }
   .main_text_fresh{
    width: 742px;
   }
   .input_label{
    height: 52px;
   }
   .container_content{
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    margin-top: 50px;
    column-gap: 24px;
}
   .container_image_fresh{
    margin: 0px;
    padding: 50px;
}

.feedback_form{
    
     width: 428px;
      
    }
    .input_container{
      width: 428px;
     
      }
   .container_form{
    margin: 0px;
    padding: 50px;
  }
  
  .social_list{
    flex-wrap: wrap;
    width: 357px;
    gap: 12px;
  }
  .container_label{
    margin-top: 50px;
  }
  .container_textarea{
    height: 95px;
  }
}
