.header {
background-color: #576f35;
}

.header .container{
  padding-top: 20px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation{
        /* align-items: center;
        flex-grow: 1; */
}


.header-logo{
padding: 20px 0 0 20px;

}

.header-icon-logo{
fill: #fbfbfb;
}

.green{
  flex-shrink: 0;
  margin-left: 4px;
}

.header-logo-link{
  color: #fbfbfb;
    font-weight: 500;
    /* margin-right: 135px; */
    flex-shrink: 0;
    display: flex;
      align-items: center;
}

 .button-vector{
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
} 

.vector{
  fill: transparent; 
  stroke-width: 3px;
     stroke: #fbfbfb;
    background-color: transparent;
}

@media screen and (min-width:768px ) {
  .header-icon-logo{
    width: 18px;
    height: 18px;
  }

  .header-logo-link{
    font-weight: 700;
  }

  .vector{
    width: 40px;
    height: 40px;
  }

  .green{
    margin-left: 8px;
  }
}

@media screen and (min-width:1280px){

.header{
  background-color: transparent;
}

.header .container{
  position: absolute;
}

  .button-vector{
    display: none;
  }

.header-navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.header-logo-link{
  margin-right: 397px;
}

  .header-menu-list{
    display: flex;
    gap: 8px;
  }

  .header-menu-item{
    border: 1px solid rgba(251, 251, 251, 0.4);
      border-radius: 12px;
        font-weight: 500;
          font-size: 16px;
          line-height: 1.25;
          letter-spacing: -0.02em;
          text-align: center;
          color: #fbfbfb;
  }

  .header-menu-link{
    display: block;
      padding: 12px;
      
  }

    .header-button-shop{
    border-radius: 30px;
    padding: 16px 32px;
        border: 1px solid rgba(251, 251, 251, 0.2);
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.11;
          letter-spacing: -0.01em;
          text-transform: uppercase;
          color: #fbfbfb;
          cursor: pointer;
          background: #7a3145;
          margin: 0 auto;
          border: none;
    }
}



/* Mobile Menu */



.mob-menu{
width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #7a3145;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
          padding-bottom: 40px;
}

.mob{
  display: flex;
flex-direction: column;
padding-top: 240px;

}

.menu-close-btn{
    display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 20px;
      right: 20px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.0);
      border-radius: 50%;
      cursor: pointer;
      color: #fff;
}

.icon-menu-close-btn{
fill: transparent;
stroke: #fff;
}

.mob-menu-navigation{
  margin: 0 auto;
/* display: flex; */
justify-content: center;
}

.mob-menu-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
}

.mob-menu-item:not(:last-child){
  margin-bottom: 8px;
}

.mob-menu-item:active{
  background-color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
}

.mob-menu-link:active{
color: #7a3145;
}

.button-shop{
    border: 1px solid rgba(251, 251, 251, 0.2);
      border-radius: 30px;
      padding: 16px 41px;
        height: 50px;
        display: flex;
        align-items: center;
font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;;
      cursor: pointer;
      background: #7a3145;
      margin:0 auto;
}

.button-shop:active {
  color: #7a3145;
  background-color: #fbfbfb;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* .header-button-shop{
  display: none;
}

.header-menu-list{
  display: none;
} */

@media screen and (min-width:768px) {

.mob-menu{
  width: 351px;
  transform: translateX(-100%);
  left: 100%;
  z-index: 999;
}

.mob{
  padding-top: 360px;
}


.menu-close-btn{
  width: 40px;
  height: 40px;
}

.button-shop{
    padding: 16px 32px;
    height: 52px;
    font-size: 18px;
    line-height: 1.11;
}

 .mob-menu-link{
  font-size: 16px;
  line-height: 1.25;
 }

 }

@media screen and (min-width:1280px) {
  .backdrop{
    display: none;
  }
}