.hero {
  padding-top: 100px;
  padding-bottom: 410px;
  background-color: #576f35;
  background-image: url(../img/hero/mobile-hero1x-min.jpg);
  background-repeat: no-repeat;
  background-size: 375px 370px;
  background-position: bottom;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/mobile-hero2x-min.jpg);
  }
}

.hero-title {
  max-width: 335px;
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.hero-text {
  max-width: 335px;
  color: #fbfbfb;
  font-weight: 500;
  line-height: 1.12;
  margin-top: 20px;
}

@media screen and (min-width: 320px), (max-width: 375px) {
}

/*::::::::::::::::::::::T A B L E T::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
    padding-bottom: 589px;
    background-image: url(../img/hero/tablet-hero1x-min.jpg);
    background-size: 768px 539px;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/tablet-hero2x-min.jpg);
    }
  }
  .hero-title {
    max-width: 704px;
    font-size: 76px;
    font-weight: 600;
  }

  .hero-text {
    max-width: 603px;
    line-height: 125%;
    margin-top: 25px;
  }
}

/*::::::::::::::::::::::D E S K T O P:::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 238px;
    padding-bottom: 50px;
    background-image: url(../img/hero/desktop-hero1x-min.jpg);
    background-size: 650px 800px;
    background-position: right;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/desktop-hero2x-min.jpg);
    }
  }
  .hero-title {
    max-width: 502px;
  }

  .hero-text {
    max-width: 472px;
    margin-top: 128px;
  }
}
