.order {
  background: #576F35;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-container {
  max-width: 375px;
}

.section-pictures {
  display: flex;
  justify-content: center;
  background-color: #7A3145;
  padding: 40px 20px;
  margin: 0 auto;
}

.section-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #576F35;
  padding: 80px 20px;
}

.picture-woman {
  border-radius: 30px;
  max-width: 100%;
}

.order-headline {
  color: #FBFBFB;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.order-headline-title {
  color: rgba(251, 251, 251, 0.3);
}

.order-headline-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #FBFBFB;
  margin-top: 0;
  margin-bottom: 40px;
}

.list-steps {
  list-style: none;
  /* counter-reset: number 0; */
}

/* .list-steps li{
  counter-increment: number ;
} */

.section-instructions li:not(:last-child) {
  margin-bottom: 20px;
}

.list-text {
  display: flex;
  border-radius: 15px;
  background-color: #FBFBFB;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
}

.order-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);

}

.order-step-text {
  font-weight: 700;
  color: #141414;
}

.point {
  display: inline-flex;
  background-color: #7A3145;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  border-radius: 50%;

}

.figures-number {
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.4px;
  color: #FBFBFB;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  min-height: 52px;
  border-radius: 50%;
  background-color: rgba(122, 49, 69, 0.30);
  margin-right: 24px;
}