.reviews {
  background-color: #fbfbfb;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 32px;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  max-width: 375px;
} 
@media screen and (min-width: 768px) {
  .reviews-container {
    max-width: 768px;
  }
}

.reviews-span {
  color: #576f35;
  font-size: 48px;
  font-weight: 600;
  /* line-height: 104%; */
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .reviews-span {
    font-size: 64px;
    line-height: 100%;
  }
}

.reviews-content-title {
max-width: 335px;
}

@media screen and (min-width: 768px) {
  .reviews-content-title {
    max-width: 553px;
  }
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 25px;
  }
}

.reviews-title-sub {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .reviews-title-sub {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 50px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-shrink: 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .reviews-list {
    gap: 18px;
  }
}

.reviews-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px;
  width: 335px;
  height: 238px;
}

.reviews-item:last-child,
.reviews-item:nth-child(2n) {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews-item:nth-child(2n) {
    display: block;
  }
}

.reviews-picture {
  background: linear-gradient(to left, #e0e0e0, #e0e0e0);
  border-radius: 100px;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-bottom: 24px;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.reviews-content {

}

.reviews-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}

@media screen and (min-width: 768px) {
  .reviews-subtitle {
    font-size: 18px;
    line-height: 110%;
  }
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (min-width: 768px) {
  .reviews-item-text {
    font-size: 16px;
    line-height: 140%;
  }
}