/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./order.css');
@import url('./discount.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./fresh-harvest.css');
@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 375px;
}

section {
  margin: 0 auto;
  max-width: 375px;
}

header {
  max-width: 375px;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 768px;
  }

  section {
    max-width: 768px;
  }

  header {
    max-width: 768px;
  }

  footer {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
    margin: 0 auto;
    max-width: 1280px;
  }

  section {
    max-width: 1280px;
  }

  header {
    max-width: 1280px;
  }

  footer {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
