.vegetables {
  background-color: #7a3145;
  padding: 80px 0;
}

.container {
}

.vegetables-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.title-word {
  color: rgba(251, 251, 251, 0.3);
}

.vegetables-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-top: 20px;
  margin-bottom: 40px;
}

.vegetables-list {
}

.vegetables-item {
  padding: 32px 26px;
  border-radius: 40px;
  background: #fbfbfb;
  max-width: 334px;
}

.vegetables-item:not(:last-child):not(:first-child) {
  margin: 20px 0;
}

.vegetables-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: scale(1.1);
}

.vegetables-name {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}

.vegetables-price {
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 14px;
  margin-right: 0;
}

.vegetables-picture {
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding: 100px 0;
  }
  .vegetables-title {
    font-size: 64px;
    line-height: 1;
    width: 508px;
  }
  .vegetables-text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 626px;
  }
  .vegetables-name {
    font-size: 32px;
  }
  .vegetables-item {
    padding: 32px 30px;
    width: calc((100%-20px) / 2);
    width: 342px;
    height: 379px;
  }
  .vegetables-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
  }
  .vegetables-item:not(:last-child):not(:first-child) {
    margin: 0;
  }
  .vegetables-price {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1120px) {
  .vegetables-item {
    padding: 32px;
    width: calc((100%-42px) / 3);
    width: 346px;
  }
  .vegetables-list {
    column-gap: 21px;
  }
}
